<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>
<body>
    
    <h1>Home Page</h1>

    <a href="/competitions">View All Competitions</a>

</body>
</html>